<h1>Interactive Story</h1>

<p>Welcome to the interactive story!</p>
<p>The interactive story is quite simple.  The story begins on this page, and every once in a while, you will be offered a choice in which way the story goes.  After enough choices, the story will run out of pages.</p>
<p>This is where you come in.  When you get to the end of the story, <i>you</i> have the opportunity to help out.  All you do is continue the story for a paragraph or two, and then give two of your own choices to follow.  It's that easy!</p>
<p>As more and more people submit to the story, it will get bigger and bigger.  Be sure to stop back often and add another page!</p>

<hr />

<p class="center"><%= link_to "Start the Story", page_path(1) %></p>

<hr />

<p class='tiny_info'><b>NOTICE:</b> Because the interactive story contains submissions posted by third-party users, we are unable to make any guarantee as to the appropriateness of any page of the interactive story.  There is a possibility that some pages may contain offensive or inappropriate material; enter the story at your own risk.</p>

